/*

TABLE OF CONTENTS

 - Basic Styles
 - Sections
 - Responsive Styles

*******************************************************************************/

/******************************************************************************/
/* Basic Styles
/******************************************************************************/
body {
	margin-top: 100px;
}

h1 {
	margin: 20px 0 40px;
}

h1, h2 {
	color: #00DD00;
}

ul, li {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

ul.list-icon-square li {
	list-style-type: square;
	margin-left: 40px;
	padding-left: 4px;
}

p {
	margin: 10px 0;
}

span.eur, span.discrete {
	font-size: 0.5em;
	color: #004400;
}

:focus {
	outline: none !important;
}

/******************************************************************************/
/* Sections
/******************************************************************************/

/* KPI */
#kpi {
	text-align: center;
}

.kpi-item {
	padding: 13px 20px;
}

.kpi-item h1 {
	margin: 40px 0;
}

.kpi-item:hover {
	background-color: #003300;
}

.kpi-item > span.market {
	display: block;
	font-size: 1em;
	text-align: right;
	color: #004400;
}

.kpi-item-headline {
	margin-top: 20px;
}

.kpi-item-headline:first-child {
	margin-top: -10px;
}

#rate-min, #rate-max {
	font-size: 1em;
	background-color: #001100;
}

#rate-min h1, #rate-max h1 {
  margin: 20px;
  margin-top: 0px;
}

/* Rates Container */
#rates-container > li {
	padding: 0 0 40px;
	text-align: left;
	list-style-type: none;
}

#rates-container > li > h2 {
	margin: 0;
	color: #00DD00;
}

/* Reload Spinner */
#reload-spinner {
	position: fixed;
	top: 40px;
	right: 5%;
	font-size: 40px;
	color: #001100;
	cursor: pointer;
}

#reload-spinner .fa-spin {
	color: #008800;
}

/* FAQ */
#faq h5 {
	color: #00bb00;
	cursor: pointer;
}

/* Footer */
footer {
	margin-top: 80px;
	border-top: 1px solid #002200;
	padding: 40px 0 40px;
	text-align: center;
}


/******************************************************************************/
/* Responsive Styles
/******************************************************************************/

/* Smart device, tablet, laptops */
@media (max-width: 1200px) {
	#rates-container {
		margin-top: 60px;
	}

	#rates-container li {
		text-align: center;
	}
}

/* Extra small devices (phones, less than 768px) */
@media (max-width: 768px) {
	.kpi-item {
		font-size: 0.75em !important;
	}
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 992px) {}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1200px) {}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}