html, body, div {
	color: #00FF00;
	font-family: "Ropa Sans", sans-serif;
}
body {
	background-color: black;
}
div {
	font-size: 2em;
}
span, a {
	color: #004400;
	text-decoration: none;
	font-size: 1ex;
}
.market {
	margin: 0;
	padding: 0 0 20px 0;
	color: #005500;
	font-size: 12pt;
	margin: 0 10px 0 0;
	line-height: 10pt;
}
.market a {
	font-size: 22pt;
}
a:hover {
	color: #00AA00;
}
.box {
	text-align: center;
	color: #00FF00;
	padding-top: 20px;
}
.box:first-child {
	border-top: none;
	padding-top: 0;
}
.box:last-child {
	border-top: 2px solid #004400;
}
.rate {
	margin-top: -33px;
	cursor: pointer;
}
.light {
	opacity: 0.2;
}
.container {
	width: 600px;
	height: 200px;
	line-height: 200px;
	margin: 10% auto 0;
}
.market-link img {
	height: 17px;
	position: relative;
	top: -7px;
	left: 4px;
}
